/* Admin.css */

/* Reset CSS */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  /* Admin Container */
  .admin-container {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
  /* Sidebar Styles */
  .sidebar {
    background-color: #333;
    color: white;
    padding: 20px;
    min-width: 60px;
    max-width: 200px;
    width: 200px;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar-closed .sidebar {
    width: 60px;
    padding: 10px;
  }
  
  .sidebar h2 {
    display: block;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    display: block;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .sidebar a:hover {
    background-color: #555;
  }
  
  /* Main Content Styles */
  .main-content {
    flex: 1;
    padding: 20px;
    margin-left: 200px;
  }
  
  .total-users {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .add-user-form {
    display: flex;
    gap: 10px;
  }
  
  .add-user-form input,
  .add-user-form button {
    padding: 10px;
    font-size: 14px;
  }
  
  /* User Table Styles */
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-table th,
  .user-table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .user-table td button {
    padding: 8px;
    background-color: #ff6666;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Toggle Sidebar Button Styles */
  .toggle-sidebar-btn {
    background: none;
    border: none;
    font-size: 15px;
    color: white;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .toggle-sidebar-btn:hover {
    color: #ddd;
  }
  