/* BAGIAN 1 */
.tips{
    height: 200px;
   }
   
   .tips2 p:nth-child(2), .tips2 p:nth-child(3){
     color: #DDE1E6;
     font-size: 33px;
     font-weight: 600;
     margin-left: 10%;
   }
   
   .tips2 p:nth-child(2){
     margin-top: 3%;
   }
   
   .tips2 p:nth-child(2){
     margin-bottom: 0%;
   }


/* BAGIAN 2 JENIS TANAH*/
   .jenistanah{
    height: 670px;
   }
   .juduljenistanah p:nth-child(1){
    font-weight: bold;
      font-size: 30px;
      color: #044F1E;
      margin-left: 8%;
  }

  .juduljenistanah p:nth-child(2){
    font-weight: 450;
      font-size: 15px;
      color: #044F1E;
      margin-top: 8px;
      margin-left: 8%;
  }

  .isitanah{
    display: flex;
    margin-top: 80px;
    margin-left: 12%;
  }

  .isitanah1 {
    text-align: center;
  }

  .texttanah{
    font-size: 11.7px;
    text-align: center;
  }
   

/* BAGIAN 3 TIPS & TRIK */

 .tipsntrik{
    margin-left: 6%;
    height: 1700px;
 }

 .tipsntrik2{
  margin-left: 6%;
    height: 1270px;
 }
 .kotak, .kotak2 {
    border-radius: 40px 0 40px 0;
    height: 35px;
    width: 200px;
   
 }

 /* TIPS BARIS 1 */

 .tipsbaris{
    display: flex;
    margin: 0px;
    margin-top: 20px;
 }

 .kotaktips{
    box-shadow: 2px 2px 12px rgba(132, 130, 130, 0.2);
   width: 270px;
    
 }

 /* VIDEO TUTUORIAL */
 
 .kotak2{
    width: 220px;
 }

 .child {
  /* ... */
  position: absolute;
  margin-left: 38%;
  margin-top: 16%;
  justify-content: center;}


