.teks-konsultasi h3 {
    font-size: 30px;
    font-weight: bold;
    color: #044F1E;
   text-align: justify;
}

.teks-konsultasi p {
    font-size: 30px;
    font-weight: bold;
    color: #044F1E;
    text-align: center;


}