.teks-konsultasi h3 {
    font-size: 30px;
    font-weight: bold;
    color: #044F1E;
   text-align: justify;
   margin-left: 15%;
   margin-bottom: 50px;
   padding-top: 10%;
}

.teks-konsultasi p {
    font-size: 18px;
    /* font-weight: bold; */
    color: #044F1E;
    text-align: justify;
    margin-left: 15%;
    margin-bottom: 50px;
    
}

.pakar p:nth-child(1){
    font-weight: bolder;
    font-size: 32px;
    color: #044F1E;
    margin-left: 70px;
    margin-top: 30px;
    }
    
    .pakar{
      display: flex;
      height: 50%;
      
    }

.bawah{
    background-color: #34745C;
    height: 250px;
    width: 100%;
  }
  
  .bawah p:nth-child(1){
    color: #34745C;
    font-size: 15px;
  }
  
  .bawah p:nth-child(2){
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
  
  }
  
  .baris2bawah{
    display: flex;
    justify-content: center;
  }
  
  .notelpbawah{
    margin-right: 25px;
  }
  
  .notelpbawah, .emailbawah{
    color: #ffffff;
    font-weight: 0px;
  }
  
  .logososialmedia{
    display: flex;
    margin-top: 20px;
    color: #ffffff;
    justify-content: center;
  }
  
  .fb{
    margin-right: 20px;
    color: #ffffff;
  }
  
  hr{
    
    border: 1px solid white;
  }



