* {
  font-family: "Inter", sans-serif;
}
body{
  background-color: #FCFCFC;
}
h1 {
  color: #044F1E;
  font-weight: bolder;
}
h2{
  color: #044F1E;
  font-weight: bolder;
}
h3{
  color: #044F1E;
  font-weight: bolder;
}
h4{
  color: #080707;
  font-weight: 500;
}
h5{
  color: #044F1E;
  font-weight: bolder;
}
h6{
  color:#242424
 
}

card{
color: #242424;
font-size: 12px;
  }


.btn-custom{
background-color:#34745C ;
}

.Footer{
  background-color: #34745C;
}

/* warna
h1 044F1E
button 34745C
bacground login FBFBFB
bacgorund isi FCFCFC

tips and trik di informasi 34745C
fotter 34745C */


.image-login {
  display: block;
}
@media (max-width: 767px) {
  .image-login {
    display: none;
  }
}