*{
    font-family: "Inter", sans-serif;
  }
  
  
  
  /* CSS LOGIN */
  
  body, html {
    height: 100%;
    margin: 0;
    background-color: #ffffff; /* Set the background color to white */
  }
  
  .login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Add some padding to the container */
  }
  
  .login-content {
    display: flex;
    width: 100%;
    max-width: 800px; /* Set a maximum width for the form and image container */
  }
  
  .login-form {
    flex: 1;
    padding: 30px;
    background-color: #ffffff; /* Set background color to white */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    color: #34745C; /* Set the heading color to the accent color */
  }
  
  .login-form p {
    color: #555; /* Set paragraph text color */
  }
  
  .login-form a {
    color: #34745C; /* Set link color to the accent color */
  }
  
  .login-image {
  
    margin-left: 20px; /* Add margin to separate the form and image */
  }
  
  .login-image img {
    width: 100%;
    height: 100%;
  }
  
  
  /* Login.css */
  
  /* ... Existing styles ... */
  
  .google-logo {
    height: 20px; /* Adjust the height as needed */
    width: 20px; /* Adjust the width as needed */
  }
  /* CSS LOGIN */
  