
.tipslidah{
    height: 530px;
}

.judul{
    color: #044F1E;
    font-size: 30px;
    text-align: center;
    font-weight: 550;
    margin-top: 3%;
}

.gambarlidah{
    width: 600px;
    height: 350px;
    text-align: center;
    margin-left: 27%;
    margin-top: 15px;
}

 .bahan{
    margin-left: 10%;
    height: 200px;
}

.hal{
    margin-left: 10%;
    height: 250px;
}
.tipsandtrik{
    margin-left: 10%;
    height: 230px;
}


/*  &bull; &nbsp;  */