/* CSS userprofile */
.container2-profile {
    display: flex;
    margin-left: auto;
    margin-right: auto ;
  }
  
  #button-edit {
    margin-right: 15px;
    padding: 6px 22px ;
    margin-top: 30px;
    
  }
  
  #button-logout {
    margin-left: 15px;
    margin-top: 30px;
}

.center {
    display: flex;
    justify-content: center;
  }